<div nz-row [nzGutter]="8">
    <div nz-col nzFlex [nzSpan]="8" class="mt10">
        <nz-card [nzBordered]="false" nzTitle="应用1" nzHoverable="true">
            <form>
                <nz-form-item class="mb0">
                    <nz-form-label [nzSm]="6" [nzXs]="24">开发环境</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <span>数据库、RabbitMQ</span>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb0">
                    <nz-form-label [nzSm]="6" [nzXs]="24">测试环境</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <span>数据库、RabbitMQ</span>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb0">
                    <nz-form-label [nzSm]="6" [nzXs]="24">用户测试环境</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <span>数据库、RabbitMQ</span>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb0">
                    <nz-form-label [nzSm]="6" [nzXs]="24">生产环境</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <span>数据库、RabbitMQ</span>
                    </nz-form-control>
                </nz-form-item>
            </form>


        </nz-card>
    </div>
    <div nz-col nzFlex [nzSpan]="8" class="mt10">
        <nz-card [nzBordered]="false" nzTitle="Card title">
            <p>Card content</p>
        </nz-card>
    </div>
    <div nz-col nzFlex [nzSpan]="8" class="mt10">
        <nz-card [nzBordered]="false" nzTitle="Card title">
            <p>Card content</p>
        </nz-card>
    </div>
    <div nz-col nzFlex [nzSpan]="8" class="mt10">
        <nz-card [nzBordered]="false" nzTitle="Card title">
            <p>Card content</p>
        </nz-card>
    </div>
    <div nz-col nzFlex [nzSpan]="8" class="mt10">
        <nz-card [nzBordered]="false" nzTitle="Card title">
            <p>Card content</p>
        </nz-card>
    </div>
</div>
