<div nz-row>
    <div nz-col nzSpan="24">
        <h1>新建环境</h1>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">

        <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="envName">环境名</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="envName" formControlName="envName" placeholder="请输入环境名" autofocus/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="envCode">环境编号</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入环境编号!">
                    <input nz-input id="envCode" formControlName="envCode" placeholder="请输入环境编号"/>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row class="register-area">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary" [disabled]="!form.dirty || form.invalid">保存
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

</div>
