<div nz-row>
    <div nz-col nzSpan="22">
        <h1>项目列表</h1>
    </div>
    <div nz-col nzSpan="2">
        <button nz-button nzType="primary" routerLink="/project/new">新建项目</button>
    </div>
</div>
<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #basicTable [nzData]="listOfData">
            <thead>
            <tr>
                <th>项目名</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.name }}</td>
                <td>{{ data.remark }}</td>
                <td>
                    <a *ngIf="!current || current.name != data.name" (click)="setCurrent(data.id)">设为当前项目</a>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</div>
