<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
        <div class="sidebar-logo">
            <a routerLink="/app">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>配置管理中心</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzTitle="应用管理" nzMatchRouter routerLink="/app">
                <i nz-icon nzType="appstore"></i>
                <span>应用管理</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzTitle="环境管理" nzMatchRouter routerLink="/env">
                <i nz-icon nzType="unordered-list"></i>
                <span>环境管理</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzTitle="配置管理" nzMatchRouter routerLink="/conf">
                <i nz-icon nzType="tool"></i>
                <span>配置管理</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzTitle="配置管理" nzMatchRouter routerLink="/notice">
                <i nz-icon nzType="wifi" nzTheme="outline"></i>
                <span>通知管理</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>

                <a nz-dropdown routerLink="/project" *ngIf="!current">
                    项目管理
                </a>
                <a nz-dropdown [nzDropdownMenu]="menu" *ngIf="current">
                    当前项目：{{ current }}
                    <i nz-icon nzType="down"></i>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item routerLink="/project">项目管理</li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>
            按"?"查看帮助页面
        </nz-footer>
    </nz-layout>
</nz-layout>

<hotkeys-cheatsheet title="快捷键提示"></hotkeys-cheatsheet>
