<div nz-row>
    <div nz-col nzSpan="22">
        <h1>应用列表</h1>
    </div>
    <div nz-col nzSpan="2">
        <button nz-button nzType="primary" routerLink="/app/new">新建应用</button>
    </div>
</div>
<div nz-row [nzGutter]="8">
    <h1 *ngIf="result.content.length == 0">还没有应用，点击右上角新建</h1>
    <ng-container *ngIf="result.content.length > 0">
        <div nz-col nzFlex [nzSpan]="8" class="mt10" *ngFor="let item of result.content">
            <nz-card [nzBordered]="false" [nzTitle]="item.name" nzHoverable="true" [routerLink]="'/app/edit/'+item.id">
                <div *ngIf="item.configList.length == 0">该项目目前没有配置</div>
                <ng-container *ngIf="item.configList.length > 0">
                    <div nz-row *ngFor="let c of item.configList">
                        {{ c.name }}
                    </div>
                </ng-container>
            </nz-card>
        </div>
    </ng-container>

</div>
