<div nz-row>
    <h1>
        环境
        <label nz-checkbox [(ngModel)]="checkAll.env.allChecked" (ngModelChange)="updateAllChecked('env')"
               [nzIndeterminate]="checkAll.env.indeterminate">
            全选
        </label>
    </h1>
</div>
<div nz-row>
    <div nz-col>
        <nz-checkbox-group [(ngModel)]="checkAll.env.checkOptions"
                           (ngModelChange)="updateSingleChecked('env')"></nz-checkbox-group>
    </div>
</div>

<nz-divider></nz-divider>

<div nz-row>
    <h1>
        配置
        <label nz-checkbox [(ngModel)]="checkAll.config.allChecked" (ngModelChange)="updateAllChecked('config')"
               [nzIndeterminate]="checkAll.config.indeterminate">
            全选
        </label>
    </h1>
</div>
<div nz-row>
    <div nz-col>
        <nz-checkbox-group [(ngModel)]="checkAll.config.checkOptions"
                           (ngModelChange)="updateSingleChecked('config')"></nz-checkbox-group>
    </div>
</div>

<nz-divider></nz-divider>

<div nz-row>
    <h1>
        应用
        <label nz-checkbox [(ngModel)]="checkAll.app.allChecked" (ngModelChange)="updateAllChecked('app')"
               [nzIndeterminate]="checkAll.app.indeterminate">
            全选
        </label>
    </h1>
</div>
<div nz-row>
    <div nz-col>
        <nz-checkbox-group [(ngModel)]="checkAll.app.checkOptions"
                           (ngModelChange)="updateSingleChecked('app')"></nz-checkbox-group>
    </div>
</div>


<div nz-row class="mt20">
    <div nz-col>
        <button nz-button nzType="primary" (click)="submit()">发布通知</button>
    </div>
</div>
