/* You can add global styles to this file, and also import other style files */

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb0 {
  margin-bottom: 0;
}

.color-red {
  color: red;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}


.text-align {
  text-align: center;
}
